# Master key file
.otp_master_key
.otp_keys

# Installation-specific config
config.py

# macOS custom attributes
.DS_Store

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
venv/
